body{
    overflow-x: hidden;
}

body h3{
    font-family: 'Inconsolata';
    font-size: 1.5rem;
    padding: 2rem;
    margin-bottom: 8rem;
}

body .padre{
    flex-wrap: wrap;
}

div .contenedor{
    min-width: 22rem;
}

div .contenedor, div .space{
    margin: 1.5rem;
}

div .space{
    font-family: 'space-mono';
    min-width: 22rem;
}

div img{
    width: 80%;
    position: relative;
    left: 10%;
}

div h1{
    font-weight: 700;
    min-width: 14rem;
    font-size: 4rem;
}

div .text{
    font-size: 1.5rem;
}

div .btn{
    padding: 1.5rem;
    border-radius: 0;
    margin-top: 2.5rem;
}

footer{
    margin-top: 5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

footer p{
    position: absolute;
    text-align: center;
    color: #BDBDBD;
}